
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.image_url %>);">
  <div class="container">
    <h1 class="d-flex justify-content-center"><%= @list.name %></h1>
  </div>
</div>

<div class="container">
  <div class="mt-4 mb-4 d-flex align-item-center justify-content-end">
    <%= link_to new_list_bookmark_path(@list), class: "fancy" do  %>
      <span class="top-key"></span>
      <span class="text">Add a Movie</span>
      <span class="bottom-key-1"></span>
      <span class="bottom-key-2"></span>
    <% end %>
  </div>



  <div class="grid_for_flip">


    <% @bookmarks.each do |bookmark| %>
      <div class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front" style="background-image: url(<%= bookmark.movie.poster_url %>)">
              </div>
              <div class="flip-card-back">
                  <p class="title"> <%= bookmark.movie.title %></p>
                  <p class="overview mb-1"><%= bookmark.movie.overview %></p>
                  <p class="title mb-0"> <%= bookmark.movie.rating %></p>
                  <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete},
                    class: "delete_link" do %>
                    <p>Delete</p>
                  <% end %>
              </div>
          </div>
      </div>
    <% end %>


  </div>


</div>
